<!-- body -->
<div class="container mt-5" id="imgtxt">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-3">
      <a href="#"><img src="images/home1.png" style="width: 370px; height: 550px;" /></a>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 mt-5">
      <a href="#"><img src="images/home2.jpg" style="width: 300px; height: 450px;"> </a>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="text-block">
    <pre ><h4 style="font-size: 55px">      Ladies <br>Kurti</h4></pre>
    <pre style="font-size: 20px;">      Ready to wear formal and <br>casual kurti collection.</pre>
  </div>
</div>

<div class="container mt-5" id="imgtxt">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 mt-5">
      <a href="#"><img src="images/home4.png" style="width: 300px; height: 450px;"> </a>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <a href="#"><img src="images/home3.jpg" style="width: 370px; height: 550px;" /></a>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="text-block2">
    <h4 style="font-size: 55px">Men's Wear</h4>
    <p style="font-size: 20px;">Experience the most premium wear for men.</p>
  </div>
</div>

<div class="container mt-5" id="imgtxt">
  <div class="d-flex p-5 bg-light">
    <a href="#"><img src="images/banner_21.jpg" style="height: 400px; width: 1000px;"> </a>
    <div class="text-block3">
<h1 style="font-size: 60px;">Fragrances</h1>
<pre style="font-size: 20px;">               <a href="#" style="color: black;">Shop Now</a></pre>
    </div>
</div>
</div>
<br><br><br><br><br>

<div class="container mt-5">
  <p style="text-align: center; font-size: 25px;"><u>NEW ARRIVALS</u></p>
  <h1 style="font-size: 60px; text-align: center;">Boys & Girls</h1>

  <div class="view overlay">
    <img src="images/card1.jpg" alt="card image" style="height: 200px; width: 200px;">
    <div class="mask flex-center rgba-red-strong">
        <p class="white-text">Strong overlay</p>
    </div>
  </div>
</div>