extends layout

block content
  h1 Welcome to J. Admin Panel
  <div class="container mt-5" id="imgtxt">
    <div class="d-flex p-5 bg-light">
    <a href="#"><img src="images/banner_21.jpg" style="height: 400px; width: 1000px;"> </a>
    </div>
    </div>